<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXqAJTUEdUZfLP-PupiEZ_6GvIr7P1wUk</string>
	<key>GCM_SENDER_ID</key>
	<string>1054774797672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-b74df</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-b74df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054774797672:ios:234579ba15ff72aa4c22dd</string>
</dict>
</plist>